.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    width: 200px;
    margin: 15px;
    padding: 5px;
}

.pup {
    margin: auto;
    /* display: block; */
    width: 300px;
    overflow: hidden;
}

.jumbotron {
    background-image: url("/images/jumbotron.jpg");
    height: 160px;
    background-position: 53vw -70px; 
}

.nav-wrapper h4{
    color:rgb(75, 75, 75);
    margin: 0 30px;
}
.nav-wrapper h5{
    color:rgb(75, 75, 75);
    margin: 0 30px;
}

@media only screen and (max-width:695px) {
    .nav-wrapper h4 {
        visibility: hidden;
    }
    .nav-wrapper h4 {
        text-align: center !important;
    }
}